# Jupyter Notebook Shortcuts

In [35]:
# Shortcuts in both modes:
# Shift + Enter run the current cell, select below
# Ctrl + Enter run selected cells
# Alt + Enter run the current cell, insert below
# Ctrl + S save and checkpoint

# While in command mode (press Esc to activate):
# Press ESC and then H to show all shortcuts.
# Press ESC and then P to open the command palette.

# While in edit mode (pressEnter to activate)
# Tab code completion or indent.
# Shift + Tab for tooltip.
# Ctrl + ] to indent.
# Ctrl + [ to dedent.
## Ctrl + / to comment lines.
# Ctrl + Home go to cell start
# Ctrl + End go to cell end
## Ctrl + Left go one word left
## Ctrl + Right go one word right
## Ctrl + Shift + P open the command palette

# Literals and Format

In [1]:
8/9

0.8888888888888888

In [2]:
# Formating the output to 3 decimal places
format(8/9,".3f")

'0.889'

In [7]:
# Left justified with 30 characters
format("hello", "<30")

'hello                         '

In [5]:
# Right justified with 30 characters
format("hello", ">30")

'                         hello'

In [6]:
# Centered with 30 characters
format("hello", "^30")

'            hello             '

# Identifiers, Keywords, and Control Characters

In [28]:
# Variable is an example of an identifier
var_1 = 90
_var = 80

In [29]:
# Error because variabels cannot start with a number
5var = 100

SyntaxError: invalid syntax (<ipython-input-29-2aae8130a68c>, line 2)

In [17]:
# Keywords
and = 78 #cannot use keywords as variable name

SyntaxError: invalid syntax (<ipython-input-17-eac7e6c23693>, line 1)

In [19]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [21]:
# Control characters
print ("hello \n welcome to amuls academy") # line break

hello
 welcome to amuls academy

# Implicit and Explicit line joining

In [23]:
# Implicit line joining
print("hello"
     " welcome")

hello welcome

In [27]:
# Explicit line joining
# Cannot have space after '\'
print("hello\
 welcome")

hello welcome

# Operators

In [ ]:
# Based on operands, there are two types, unary operator and binary operator. E.g +, -, *, /.

# If single operand is present then it is unary operator. For example, if it is '-4' then 4 is the operand and '-' is the unary operator. 
# If two operands is present then it is binary operator. Binary operator will be '4 + 5'.

In [ ]:
# Based on operators, they are 4 types, arithmetic, relational, membership and boolean operator.

In [ ]:
# They are 8 Arithmetic Operators. Negation, Addition, Substraction, Multiplication, Division, Truncating Div, Modulus and Exponential.

# Negation is adding negative to a value. E.g -5.
# Truncating division returns whole number of a division result. E.g 5//4 = 1.
# Modulus retuns the remainder of a division. E.g 5%2 = 1.
# Exponential is adding a power value to the base number. E.g 2**5 = 32.

In [5]:
# They are 6 relational operators. 
# Equal -> 
print(5==5)

# NOT equal -> 
print(5!=5)

# Less than -> 
print(5<6)

# Greaterthan -> 
print(6>5)

# Less than or equal to -> 
print(5<=6)

# greater than or equal to -> 
print(6>=5)

True
False
True
True
True
True

In [3]:
# They are 2 membership operators, in and not in.

print(5 in [2,3,4,5,6,7])
print(5 not in [2,3,4,5,6,7])

True
False

In [9]:
# They are 3 boolean operators, 'and', 'or', 'not'.

print(5<6 and 4==4)
print(5>6 and 5==5)

print(5<6 or 5==5) # if first argument is True, then second argument wont be checked
print(5>6 or 5==5) # Note that 5 is more than 6

print(10>5)
print(not(10>5))

True
False
True
True
True
False

# Precedence and Associativity

In [1]:
# When we use different operators, we have to use the rule of priority or BODMAS to evaluate the arguments correctly.
# Look at the precedence chart to know the operators with the highest and lowest priority.
# They are to associative rules for same precedence, left to right evaluation and vice versa.

print((2+5)*4)    # without the parantheses the output will be 22 instead of 28

print(2+5-1)      # addition and multiplication (same precedence) follows left to right evaluation

print(2**3**4)    # 3**4 will be evaluated first then 2**81 will be evaluated.
print(3**4)
print(2**81)

28
6
2417851639229258349412352
81
2417851639229258349412352

# Input and Output Function

In [2]:
# Functions are statements that are grouped together to do a particular task.

# input() function is used for entering inputs.
input('Please enter your name: ')

Please enter your name: Haaren

'Haaren'

In [3]:
# print() function is used for outputting values
print("Hello Welcome")

Hello Welcome

In [4]:
var = 10
print(var)

10

In [15]:
name = input('Please enter your name: ')
print("Welcome", name)

Please enter your name: Haaren
Welcome Haaren

# Control Structures

In [ ]:
# There are 3 types of control structures, sequential, selection, and iterative.
# Sequential : Instructions will follow the sequential order. It will follows the order of the program.
# Selection : Based on true and false of the condition. If it's true, then the true selection will be executed.
# Iterative : As long as the condition is true, the codes will be executed within the loop.

In [17]:
# Sequential Control
print("Hello")
print("Welcome")
print("My name is Haarendran")

Hello
Welcome
My name is Haarendran

In [19]:
# Selection Control
var = int(input("Enter a interger value: "))

if var < 10:
    print("Value is less than 10.")
else:
    print("Value is greater than 10.")

Enter a interger value: 100
Value is greater than 10.

In [22]:
# Iterative Control
var = 0

while var<=10:
    print(var)
    var=var+2

0
2
4
6
8
10

# If-Else Statements

In [ ]:
# There are three types of selection control statements. One being if statement,  if-else statement, multiway selection: i) nested if and i) elief header.

In [6]:
# If Statement

# Syntax
# if condition:
#     action

# Example
marks = int(input("Please enter your exam marks: "))
if marks==100:
    print("Perfect Score!")
print("Thank You.")

Please enter your exam marks: 100
Perfect Score!
Thank You

In [4]:
# If-else statement

# Syntax
# if condition:
#     action
# else:
#     action

# Example 
marks = int(input("Please enter your exam marks: "))
if marks >= 35:
    print("You passed!")
else:
    print("Unfortunately, you failed.")
print("Thank You.")

Please enter your exam marks: 50
You passed!
Thank You!

In [8]:
# Nested if statements
# A nested if is an if statement that is the target of another if statement.
# Nested if statements means an if statement within another if statement.

# Syntax
# if condition:
#     if condition:
#         action

# Example
name = 'Amul'
clg = 'xyz'
marks = 56

if clg == 'xyz':
    if name == 'Amul':
        print ("Amuls of xyz college got :", marks, "marks")

Amuls of xyz college got : 56 marks

In [10]:
# Elif header
# Else if or if elif else ladder

# If statements are executed from the top down. As soon as one of the if condition becomes true, its body is executed, 
# and the rest of the conditions are not checked. If none of the condition is true then final else statement is executed.

# Syntax for if-else
# if condition1:
#     action1
# else:
#     if condition2:
#         action2
#     else:
#         if condition 3:
#             action3
#         else:
#             action4

# Variables for Examples
x = 20
y = 45
z = 23

# Example
# if x>y and x>z:
#     print("X is Greater")
# else:
#     if z>y:
#         print("Z if Greater")
#     else:
#         print("Y is Greater")
        
# Syntax for elif
# if condition1:
#     action1
# elif condition2:
#     action2
# elif condition3:
#     action3
# else:
#     action4

# Example
# if x>y and x>z:
#     print("X is Greater")
# elif z>y:
#     print("Z if Greater")
# else:
#     print("Y is Greater")

Y is Greater

# Iterative Control

In [17]:
# There are two iterative controls, for statements and while statements.

# Syntax for 'for loop'
# for variable in sequence:
#     action
    
# Example of for-loop with String
for letter in "Python":
    print("Character is", letter)

# Example of for-loop with Lists
for number in [10,20,30,40]:
    print("Number is", number)

# Example of for-loop with if-else statements
for num in [10,20,30,40]:
    if num >= 25:
        print(num, "greater than 25")
    else:
        print(num, "lesser than 25")

Character is P
Character is y
Character is t
Character is h
Character is o
Character is n
Number is 10
Number is 20
Number is 30
Number is 40
10 lesser than 25
20 lesser than 25
30 greater than 25
40 greater than 25

In [18]:
# Syntax for 'while loop'
# while condition:
#     action

# Example of while-loop
count = 1
while count <= 5:
    print (count)
    count=count+1
print("Good Bye")

1
2
3
4
5
Good Bye

# Loop Controls: Break and Continue

In [21]:
# Example for Break statament in while loop

count = 0
while count <= 5:
    if count==3:
        break
    else:
        print(count)
    count=count+1
print("Thank you")

# Example for Break statament in for loop

for letter in "Amuls":
    if letter == "u":
        break
    else:
        print(letter)
print("Thank you")

0
1
2
Thank you
A
m
Thank you

In [24]:
# Example for Continue statament in while loop

var = 10
while var > 0:
    var = var-1
    if var==3:
        continue
    print(var)
print("Thank you")

# Example for Continue statament in for loop

for letter in "Amuls":
    if letter == "u":
        continue # brings the control to the start of the for loop if condition is true
    else:
        print(letter)
print("Thank you")

9
8
7
6
5
4
2
1
0
Thank you
A
m
l
s
Thank you

# List

In [40]:
# List is a group of items.
# List is mutable, meaning you can add and remove elements within the list.
# List has a linear data structure.
# List can have mixed type of elements, meaning string, integer or float values.
# List has variable length. It can be altered to change the number of elements in a list.
# Zero based index, meaning it starts with an index of 0 to refer to the first element.

animals = ["monkey", "dog", "cat"]
animals
print(animals[0]) # refers to the first element in the list

list1 = [10, 20.4, 'hello', 54] # list can store different types of values
print(list1)
print("The third element in list1 is",list1[2]) # prints the third element in the list

list2 = [[10,20],[30,40]]
list2
print(list2[0])
print(list2[0][0]) # prints the first element within the first list of the list

monkey
[10, 20.4, 'hello', 54]
The third element in list1 is hello
[10, 20]
10

In [ ]:
# List Operations in Python Programming
# There are 6 list operations : replace, insert, sort, delete, append, and reverse.

In [27]:
# Replace
# To replace we have to specify the index then use the '=' symbol to replace the value.
list1 = [10,20,40,5.7]
list1[2] = 3.7
print(list1)

[10, 20, 3.7, 5.7]

In [3]:
# Insert
# Use .insert(index, value) to insert a value into the list.
list1.insert(2, 'hello')
print(list1)

[10, 20, 'hello', 'hello', 3.7, 5.7]

In [26]:
# Sort
# Sort can only work on lists that use similar type of values. For example, only numbers or only strings.
# list1.sort()

# Sorting strings in alphabetical order
animals = ['monkey', 'dog', 'cat', 'lion']
animals.sort()
print(animals)

# Sorting numerical values in alphabetical order
list2 = [10,2.3,30,4]
list2.sort()
print(list2)

['cat', 'dog', 'lion', 'monkey']
[2.3, 4, 10, 30]

In [24]:
# Delete 
# When using delete to delete a value, we need to specify the index of the list.
list3 = [2, 7, 6, 10]
del list3[1] #Deleting the index 1
print(list3)

# If no index is specified, then it will delete the entire list.
del list3
list3

[2, 6, 10]

NameError: name 'list3' is not defined

In [15]:
# Append
# Append inserts a value to the end of the list
animals
animals.append('donkey')
print(animals)

['cat', 'dog', 'lion', 'monkey', 'donkey']

In [18]:
# Reverse
# Reverses the order of the list
animals.reverse()
print(animals)

['donkey', 'monkey', 'lion', 'dog', 'cat']

In [22]:
# Consolidation of all the list operations

fruits = ['apple', 'banana']
print(fruits)

fruits[1] = 'grapes'        #replace
print(fruits)

fruits.insert(1, 'orange')  #insert
print(fruits)

fruits.sort()               #sort
print(fruits)

del fruits[0]               #delete
print(fruits)

fruits.append('papaya')     #append
print(fruits)

fruits.reverse()            #reverse
print(fruits)

['apple', 'banana']
['apple', 'grapes']
['apple', 'orange', 'grapes']
['apple', 'grapes', 'orange']
['grapes', 'orange']
['grapes', 'orange', 'papaya']
['papaya', 'orange', 'grapes']

# Tuples

In [34]:
# Tuple is immutable, meaning you cannot add and remove elements within the tuples.
# Since tuple is immutable, we cannot any operations such as replace, insert and etc.
animal = ('dog', 'cat', 'monkey')
print(animal)
print(animal[0])

tuple1 = ((10, 2.3), (3.5, 4))
print(tuple1)
print(tuple1[0])
print(tuple1[0][0])

num = ()
print(num)

('dog', 'cat', 'monkey')
dog
((10, 2.3), (3.5, 4))
(10, 2.3)
10
()

# Sequences

In [ ]:
# There are 10 types of sequence operations. 
# Length, select, slice, count, index, membership, concatenation, min value, max value, sum.

In [10]:
# Length can be used to check the length of a string, list, and tuple.
name = 'amuls'
list1 = [10, 20, 3.4, 5, 6, 5]
tuple1 = (10, 2.3, 4.5, 5)
print('Length of name is', len(name))
print('Length of list1 is', len(list1))
print('Length of tuple1 is', len(tuple1))

Length of name is 5
Length of list1 is 6
Length of tuple1 is 4

In [11]:
# Select can be used to select an individual element in a string, list or tuple.
print(name[0])
print(list1[4])
print(tuple1[3])

a
6
5

In [12]:
# Slice. If you want part of a string or a list.
print(name[1:4])    #2nd to 4th element
print(list1[1:])    #2nd to final element 
print(tuple1[:2])   #1st and 2nd element

mul
[20, 3.4, 5, 6, 5]
(10, 2.3)

In [13]:
# Count can be used to count the occurence of an element is present in a string, list or tuple.
print(name.count('m'))   # Check how many m in name string
print(name.count('M'))   # Check how many M in name string
print(list1.count(5))    # Check how many 5 in 'list1' list

1
0
2

In [14]:
# Index. To find the index (position) of any character or any element.
print(name.index('l'))
print(tuple1.index(5))
print(list1.index(5))    # This only shows one index eventhough there is two occurence of 5

3
3
3

In [15]:
# Membership (in) can be used to check if an element is in a string, list or tuple.

print('m' in name)
print('m' not in name)

True
False

In [18]:
# Concatenation (+) to join two or more string, lists or tuple.
# We cannot concatenatino between string, list or tuple. It will give an error.

# String
name = 'amuls'
s = ' hai'
print(name + s)

# List
list1 = [10, 20, 3, 4, 1.3]
list2 = ['hello', 2]
print(list1 + list2)

# Tuple
tuple1 = (2,3,4,5,8.9)
tuple2 = (2,3)
print(tuple1 + tuple2)

amuls hai
[10, 20, 3, 4, 1.3, 'hello', 2]
(2, 3, 4, 5, 8.9, 2, 3)

In [19]:
# Min can be used to check the minimum value of a string, lists or tuple.

print(min(name))
print(min(list1))
print(min(tuple1))

# Max can be used to check the maximum value of a string, lists or tuple.

print(max(name))
print(max(list1))
print(max(tuple1))

a
1.3
2
u
20
8.9

In [20]:
# Sum can be used to find the total value of the elements in lists and tuple.

list1 = [10, 20, 3, 4, 1.3]
print(sum(list1))

tuple1 = (2,3,4,5,8.9)
print(sum(tuple1))

38.3
22.9

# List Assignment and Copying

In [31]:
# Assigning same values of list1 to list2
list1 = [10, 2, 3.4, 5.1, 45]
list2 = list1
print('List1: ', list1)
print('List2: ', list2)

# Replacing 1st element of list1 will change the 1st element of list 2
list1[0] = 'apple'
print('List1: ', list1)
print('List2: ', list2)

# Changes in either list will affect the other list
list2[1] = 'banana'
print('List1: ', list1)
print('List2: ', list2)

List1:  [10, 2, 3.4, 5.1, 45]
List2:  [10, 2, 3.4, 5.1, 45]
List1:  ['apple', 2, 3.4, 5.1, 45]
List2:  ['apple', 2, 3.4, 5.1, 45]
List1:  ['apple', 'banana', 3.4, 5.1, 45]
List2:  ['apple', 'banana', 3.4, 5.1, 45]

In [32]:
# Copying of list1 to list3
list3 = list(list1)
list1[0] = 0

print('List1: ', list1)
print('List3: ', list3)

List1:  [0, 'banana', 3.4, 5.1, 45]
List3:  ['apple', 'banana', 3.4, 5.1, 45]

In [33]:
# Using statements to generate a new list
result = [x**2 for x in [1,2,3]]
print(result)

[1, 4, 9]

# Negative Index in List

In [43]:
# The first element starts with a 0 index
# The final element starts with a -1 index
# The second final element is -2 index

list1 = [1, 2, 3, 4]
print(list1[1])
print(list1[-1])
print(list1[-3])

2
4
2

In [44]:
# Inserting the value 10 in the 3rd position from final position
list1.insert(-3, 10)
print(list1)

[1, 10, 2, 3, 4]

In [45]:
# Subsetting the list using negative indexes
list1[-3:-1]

[2, 3]

In [46]:
# Deleting the final element in the list
del list1[-1]
print(list1)

[1, 10, 2, 3]

# Range Function

In [52]:
# Range function can be used to generate a random number in a range 
# range(start, stop, step)
# Start: Optional. An integer number specifying at which position to start. Default is 0
# Stop: Required. An integer number specifying at which position to stop (not included).
# Step: Optional. An integer number specifying the incrementation. Default is 1

print('Range from 0 to 10.')
for x in range(11): # start at 0, end at 10
    print (x) 

print('Range from 1 to 10.')
for x in range(1, 11): # 11 will be excluded from the range
    print (x) 

print('Range from 1 to 10 with increment of 2')
for x in range(1, 11, 2): # 11 will be excluded from the range
    print (x)

Range from 0 to 10.
0
1
2
3
4
5
6
7
8
9
10
Range from 1 to 10.
1
2
3
4
5
6
7
8
9
10
Range from 1 to 10 with increment of 2
0
2
4
6
8
10

# Functions

In [57]:
# Functions are statements grouped together to do some particular task.
# In function there are two parts, one is function call and another being function definition. 

# Function Definition
def avg(n1,n2,n3):    # n1,n2,n3 is formal parameter
    return (n1+n2+n3)/3.0   # this is a value returning function


print('Welcome')
# Function Call - result1, result2, result3
result1 = avg(10,20,30)     # 10,20,30 is actual parameter
result2 = avg(1,2,3)
result3 = avg(3.1,2,4.5)

# Printing results
print(result1)
print(result2)
print(result3)


# Non value returning function
def display():
    print("Welcome Haarendran")
    print("Vanakam")
    
display()

Welcome
20.0
2.0
3.1999999999999997
Welcome Haarendran
Vanakam

# Keyword and Default Arguments

In [58]:
# Keyword using num1, num2, num3
def average(n1,n2,n3):
    return (n1+n2+n3)/3.0

print('Welcome')
num1 = int(input('Enter number 1: '))
num2 = int(input('Enter number 2: '))
num3 = int(input('Enter number 3: '))

result = average(num1,num2,num3) #function call
print(result)

Welcome
Enter number 1: 3
Enter number 2: 5
Enter number 3: 2
3.3333333333333335

In [64]:
# Default Arguments where n3 = 5
def average(n1,n2,n3 = 5):
    return (n1+n2+n3)/3.0

print('Welcome')
num1 = int(input('Enter number 1: '))
num2 = int(input('Enter number 2: '))

result = average(num1,num2) # n3=5 still included
print(result)

Welcome
Enter number 1: 3
Enter number 2: 3
3.6666666666666665